@import '../../../../asset/css/variables';

.login-carousel{
    .btn-carousel-left{
        background-color: #E9F2F6;
        color:$primaryColor;
        border: none;
        border-radius: 5px 0px 0px 5px;
    }
    .btn-carousel-right{
        background-color: #E9F2F6;
        color:$primaryColor;
        border: none;
        border-radius: 0px 5px 5px 0px;
    }
    .btn-carousel-middle{
        border-left: 1px solid $primaryColor;
        border-right: 1px solid $primaryColor;
        background-color: #E9F2F6;
        color:$primaryColor;
        border: none;
        border-left: 1px solid $primaryColor;
        border-right: 1px solid $primaryColor;
    }
    .btn-carousel-active{
        color:white;
        background-color: $primaryColor;
    }

    .slick-dots {
        display: flex !important;
        justify-content: center;
    }
        
    li.slick-active {
        width: 50px;
    }
    
    li.slick-active div {
        background-color: #F4C14F !important;
        width: 50px !important;
    }
    
    /* Arrows */
    .slick-prev,
    .slick-next
    {
        color: black !important;
    }
    .slick-prev:before,
    .slick-next:before
    {
        color: black !important;
    }

    [dir='rtl'] .slick-prev
    {
        right: -25px;
        left: auto;
    }
    .slick-prev:before
    {
        content: '←';
    }
    [dir='rtl'] .slick-prev:before
    {
        content: '→';
    }

    .slick-next
    {
        right: -25px;
    }
    [dir='rtl'] .slick-next
    {
        right: auto;
        left: -25px;
    }
    .slick-next:before
    {
        content: '→';
    }
    [dir='rtl'] .slick-next:before
    {
        content: '←';
    }
}
