@import '../../../../asset/css/variables';

.profile {
    .foto-profile {
        width: 60px;
    }
    .btn-secondary{
        background-color: white;
        border: none;
        color: #000000;
        &:hover {
            background-color:white; 
        }
    }
    .btn:focus{
        box-shadow: none;
    }
    .dropdown-toggle{
        font-weight: bold;
        font-size: 20px;
        &::after {
            margin-left: 15px;
            vertical-align: 3px;
        }
    }
    .dropdown-item {
        svg {
            width: 25px;
            height: 100%;
            padding-right: 10px;
        }
    }
}

@media (max-width: 1199.98px) {

    .profile {
        .foto-profile {
            width: 37px;
        }
        .dropdown-toggle{
            font-size: 15px;
        }
    }
}