.home-most-frequent-transaction {
    .most-frequent-transaction-heading {
        margin-left: 35px;
        font-size: 22px;
        font-weight: 700;
    }

    .row {
        display: flex;
        align-items: center;

        .most-frequent-transaction-chart {
            width: 300px;
            padding: 0px;
        }
            .card-transaction {
                box-shadow: 0px 0px 15px rgba(64, 109, 162, 0.2);
                border-radius: 20px;
                width: 400px;
                height: 250px;
                padding: 35px 38px;
                text-align: left;

                    .card-transaction-heading {
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 8px;
                    }

                    .card-transaction-check {
                        list-style-type: none;
                        padding-left: 0px;
                        font-size: 16px;
                            
                            .card-transaction-check-item {
                                margin-right: 16px;
                                margin-top: 7px;
                                margin-bottom: 10px;
                            }
                    }
            }
    }
}