@import '../../../../asset/css/variables';

.card-ranking {

    .header-card-ranking{
        .title {
            display: inline-flex;

            .icon-leaderboard {
                color: $primaryColor;
                width: 31px;
                height: 28px;
            }

            h5 {
               font-family: $primaryFont;
               font-size: 20px;
               font-weight: 700;
               padding-left: 2%;
               padding-top: 4px;
               margin-bottom: 0;
            }
        }

        .button-header {
           border: 1px solid $primaryColor;
           border-radius: 5px;
           width: fit-content;
          
           
            .button-header-item {
                color: #4F4F4F;
                border-color: none;
                &:focus {
                    box-shadow: none;
                    background-color: $primaryColor;
                    color: white;
                } 
            }

            .divider {
                display: inline-block;
                border-left: 1px solid $primaryColor;
                height: 15px;
                vertical-align: middle;
            }
        } 

// date select
       .date-select {
           font-family: $primaryFont;
           font-size: 18px;
           margin-bottom: 0%;

            .input-date {
                margin-left: 5%;
                text-align: end;
                
                border-radius: 25px;
                border: solid 1px #BDBDBD !important;
                background-color: #F2F2F2 !important;
                color: #4F4F4F !important;
                &:focus-visible {
                    outline: none;
                }
            }
        }     
    }
    


    .reward-card-rank {

        .card-reward-first {
            position: relative;
            width: 227px;
            height: 296px;
            border-radius: 20px;
            border-color: white;
            font-weight: 700;
            box-shadow: 0px 0px 20px rgba(20, 43, 111, 0.15);
            &:focus {
                box-shadow: none;
             }

            .icon-medal {
                position: absolute;
                right: 5%;
                width: 38px;
                height: 57px;
            }

            .card-img-top {
                height: 80px;
            }
            
            .card-body {
                font-family: $primaryFont;
                
                .card-text {
                    font-size: 20px;
                    margin: 0;
                }

                .card-title {
                    font-size: 24px;
                    color: $primaryColor;
                }

                .card-muted {
                    font-size: 16px;
                }
            }
        }

        .card-reward {
            position: relative;
            width: 181px;
            height: 236px;
            border-radius: 20px;
            border-color: white;
            font-weight: 700;
            box-shadow: 0px 0px 20px rgba(20, 43, 111, 0.15);
            &:focus {
                box-shadow: none;
            }

            .icon-medal {
                position: absolute;
                right: 5%;
                width: 38px;
                height: 57px;
            }

            .card-img-top {
                height: 80px;
            }
            
            .card-body {
                font-family: $primaryFont;
                
                .card-text {
                    font-size: 18px;
                    margin: 0;
                }

                .card-title {
                    font-size: 24px;
                    color: $primaryColor;
                }

                .card-muted {
                    font-size: 16px;
                }
            }
        }
        
    }
}