@import '../../../../asset/css/variables';

.trans-style{
    .transaction-title{
        font-size: 24px;
        vertical-align: middle;
    }

    .transaction-form-select{
        background: #F2F2F2;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 25px;
        width: 100%;
    }

    .date-container {
        position: relative;
        max-width: fit-content;
        align-self: center;

        .date-table {
            align-self: flex-end;
            border: solid 1px #BDBDBD;
            background-color: #F2F2F2;
            text-align: center;
            padding: 5px 0px;
            
            &::-webkit-calendar-picker-indicator {
                position: absolute;
                left: -20%;
                width: 100%; 
                background: none;
                -webkit-appearance: none;
            }

            &:focus-visible {
                outline: none;
            }
        }

        .text-to {
            padding: 9px;
            background-color: $primaryColor;
            color: #FFFFFF;
            font-size: 16px;
        }
        
        .date-table-left{
            border-radius: 25px 0px 0px 25px;
        }
        .date-table-right{
            border-radius: 0px 25px 25px 0px;
        }
    }
    .transaction-form-button{
        background: #287CA1;
        border: 1px solid #287CA1;
        border-radius: 5px;
        color:white;
    }
}

.transaction-breadcrumb{
    font-size: 18px;
    &-text{
        color: #142B6F;
    }
    &-link{
        color: #828282;
        text-decoration: none;
    }
    &-link:hover{
        border-bottom: 1px solid #142B6F;
        color: #142B6F;
    }
}