@import '../../../../asset/css/variables';

.home-user-app-checkin {
    .home-user-app-checkin-heading {
        .home-user-app-checkin-title {
            font-size: 22px;
            font-weight: 700;
            padding-right: 0px;
        }

        .home-user-app-checkin-viewall {
            text-align: right;
            padding-left: 0px;
            padding-right: 0px;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            color: #999999;
        }
    }

    .user-checkin-data-table {
        border-radius: 20px;
        box-shadow: 0px 0px 15px rgba(64, 109, 162, 0.2);

        .user-checkin-data-table-heading {
            // background-color: $primaryColor;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 700;

            .user-checkin-left-heading {
                background-color: $primaryColor;
                border-top-left-radius: 20px;
            }

            .user-checkin-mid-heading {
                background-color: $primaryColor;
            }
            
            .user-checkin-right-heading {
                background-color: $primaryColor;
                border-top-right-radius: 20px;
            }

        }

        .user-checkin-data-table-items {
            color: #4F4F4F;
            font-size: 16px;
            font-weight: 400;
        }
    }
}
