.transaction-receipt{
    &-title{
        font-size: 22px;
        vertical-align: middle;
    }
    &-card{
        box-shadow: 0px 0px 15px rgba(64, 109, 162, 0.2);
        border-radius: 10px;
    }
    &-id{
        border: 1px solid #287CA1;
        background-color: #287CA1;
        border-radius: 5px;
        color:white;
    }
    &-status{
        border: 1px solid rgba(62, 183, 161, 0.2);
        background-color: rgba(62, 183, 161, 0.2);
        border-radius: 25px;
        color:#3EB7A1;
    }
    &-subtitle{
        color:#828282;
    }
    &-line{
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.35);
    }
    &-amount{
        font-size: 22px;
    }
    &-download{
        cursor:pointer;
    }
    p{
        margin:0;
    }
    
}