@import "../../../../asset/css/variables";

.cardCustomer{
    border: 2px solid #DDDDDD;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(64, 109, 162, 0.2);
    
    .number{
      font-size: 35px;
      color: #142B6F;
    }
    .percentage{
      font-size: 18px;
      color: #828282;
    }
  }

  @media (max-width: 1199.98px) {
    .cardCustomer {
      .number {
        font-size: 25px;
      }
      .percentage {
        font-size: 12px;
      }
    }
  }