.login-form{
    box-shadow: 1px 1px 20px 2px rgba(0,0,0,0.08);
    -webkit-box-shadow: 1px 1px 20px 2px rgba(0,0,0,0.08);
    -moz-box-shadow: 1px 1px 20px 2px rgba(0,0,0,0.08);
    border-radius: 15px;
    input{
        border-radius: 10px;
        border: 1px solid #BFBFBF;
    }
    button{
        width:100%;
        background-color: #0D70B2;
        color:white;
        border-radius: 10px;
    }
    .forgot-password{
        text-decoration: none;
        color:rgba(0, 0, 0, 0.6);
    }
}

.password{
    position: relative;
}
.password svg{
    position: absolute;
    top: 30%;
    right: 4%;
    
}
.password svg:hover{
    color: black !important;
    cursor: pointer;
}