.transaction-card{
    box-shadow: 0px 0px 15px rgba(64, 109, 162, 0.2);
    border-radius: 10px;
    align-items: center;
    .transaction-card-title{
        font-size: 20px;
        
    }
    .transaction-card-circle{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 4em;
        border-radius: 50%;
        vertical-align: middle;
    }

    .transaction-card-circle:before{
        content:'';
        float: left;
        width: auto;
        padding-bottom: 100%;
    }

    .color-black{
        background-color: rgba(189, 189, 189,0.2);
        color: #4F4F4F;
    }
    .color-red{
        background-color: rgba(225, 94, 84,0.2);
        color: #E15E54;
    }
    .color-green{
        background-color: rgba(62, 183, 161,0.2);
        color: #3EB7A1;
    }
    .color-blue{
        background-color: rgba(72, 140, 211,0.2);
        color: #488CD3;
    }
}