%btn-action {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

%btn-delete {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.btn-action-box {
    padding: 0px 0px 0px 12px !important;
}

.btn-accept {
    @extend %btn-action;

    background-color: $primaryColor;
    border: 2px solid $primaryColor;
    margin-right: 0px;

    &:hover {
        background-color: white;
        color: $primaryColor;
    }
}

.btn-details {
    @extend %btn-action;

    background-color: #3EB7A1;
    border: 2px solid #3EB7A1;

    &:hover {
        background-color: white;
        color: #3EB7A1;
    }
}

.btn-skip {
    @extend %btn-action;

    background-color: #E15E54;
    border: 2px solid #E15E54;

    &:hover {
        background-color: white;
        color: #E15E54;
    }
}

.btn-changes {
    width: 155px;
    height: 40px;
    border: 1px solid $primaryColor;
    border-radius: 25px;
    font-size: 16px;
    color: #4F4F4F;
    background-color: white;

    &:hover {
        color: $primaryColor;
    }
}

.btn-back {
    @extend %btn-action;

    background-color: white;
    border: 2px solid #828282;
    color: #828282;

    &:hover {
        background-color: #828282;
        border: 2px solid #828282;
        color: white;
    }
}

.btn-delete {
    @extend %btn-delete;

    background-color: white;
    border: 2px solid #828282;
    color: #828282;

    &:hover {
        background-color: #828282;
        border: 2px solid #828282;
        color: white;
    }
}

.btn-yesdelete {
    @extend %btn-delete;

    background-color: $primaryColor;
    border: 2px solid $primaryColor;
    margin-right: 0px;

    &:hover {
        background-color: white;
        color: $primaryColor;
    }
}