//styling for new customer modal
.new-customer-modal {
    padding-left: 5px;
    padding-right: 5px;

    .new-customer-modal-heading {
        padding: 16px 20px 5px;
        margin-top: 15px;

        .new-customer-modal-title {
            font-size: 20px;
            font-weight: 700;
        }

        .new-customer-icon {
            width: 28px;
            margin-right: 10px;
            padding-bottom: 3px;
            filter: invert(39%) sepia(66%) saturate(473%) hue-rotate(153deg) brightness(94%) contrast(94%);
        }
    }

    .new-customer-table-heading {
        color: $primaryColor;
        font-weight: 700;
    }
}