@import "../../../../asset/css/variables";
@import "./actionBtn";
@import "./modal";

.home-card-request {
    margin-left: 20px;
    .card-request {
        background-color: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(64, 109, 162, 0.2);
        border-radius: 20px;
        width: 318px;
        height: auto;
        padding: 22px 35px 30px 30px;

        //style for heading of card request
        .card-request-heading {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        //style for list of request categories
        .card-request-list {
            list-style-type: none;
            padding-left: 0px;

            .card-request-list-row {
                padding: 20px 0px;

                .card-request-list-data-item {
                    margin-bottom: 0px;
                    text-align: right;
                    font-size: 20px;
                    font-weight: 700;
                }

                .card-request-list-item {
                    text-decoration: none;
                    color: #4F4F4F;
                    font-weight: 600;

                    &:hover {
                        color: black;
                    }
                }

                .card-request-list-icon {
                    margin-right: 12px;
                    width: 20px;
                    margin-bottom: 3px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {

    .home-card-request {
        margin-left: 15px;
        margin-top: -10%;
        .card-request {
            width: 220px;
            padding: 10px 10px 0px 10px;
            .card-request-heading {
                font-size: 18px;
                margin-bottom: 5px;
            }
        }
        .card-request-list {
            .card-request-list-row {
                .card-request-list-data-item {
                    font-size: 12px !important;
                }
                .card-request-list-item {
                    font-size: 12px !important;
                }
                .card-request-list-icon {
                    margin-bottom: auto;
                    width: 13px !important;
                }
            }
        }
    }
}