@import "../../../../asset/css/variables";

.delete-modals {
    max-width: 450px !important;
    margin-top: 210px !important;

    .delete-modals-body {
        .delete-modals-body-btn {
            .delete-modals-body-btn-yes {
                padding-left: 45px !important;
                padding-right: 10px !important;
            }

            .delete-modals-body-btn-no {
                padding-right: 45px !important;
                padding-left: 10px !important;
            }
        }
    }
}