@import "../../../../asset/css/variables";

//styling for new customer modal
.detail-modal {
    min-width: 950px;

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .detail-modal-heading {
        padding: 16px 30px 5px;
        margin-top: 15px;

        .detail-modal-title {
            font-size: 20px;
            font-weight: 700;
        }

        .detail-modal-icon {
            width: 28px;
            margin-right: 10px;
            padding-bottom: 3px;
            filter: invert(39%) sepia(66%) saturate(473%) hue-rotate(153deg) brightness(94%) contrast(94%);
        }
    }

    .detail-modal-body {
        padding: 16px 30px 30px;

        .detail-modal-container {
            padding: 10px 0px;
            .detail-modal-label {
                color: $primaryColor;
                font-weight: 700;
                margin-bottom: 5px;
            }

            .detail-modal-content {
                color: #828282;
            }

            .detail-modal-list {
                padding-left: 15px;
                font-size: 13px;
                margin-bottom: 0px;
            }

            .detail-modal-status {
                background: rgba(111, 207, 151, 0.2);
                border-radius: 20px;
                width: 121px;
                height: 29px;
                font-weight: 700;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .detail-modal-active {
                color: #219653;
                background: rgba(111, 207, 151, 0.2);
            }
            .detail-modal-inactive {
                color: #E15E54;
                background: rgba(225, 94, 84, 0.2);
            }
            .detail-enter{
                white-space: pre-wrap;
            }
            .mission-p-enter{
                white-space: pre-wrap;
            }
            
        }
    }
}