@import "../../../../asset/css/variables";

//styling for new customer modal
.points-rewards-modals {
    padding-left: 5px;
    padding-right: 5px;
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    .form-date{
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 5px;
    }
    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
    .points-rewards-heading {
        padding: 16px 30px 5px;
        margin-top: 15px;

        .points-rewards-title {
            font-size: 20px;
            font-weight: 700;
        }

        .points-rewards-icon {
            width: 28px;
            margin-right: 10px;
            padding-bottom: 3px;
            filter: invert(39%) sepia(66%) saturate(473%) hue-rotate(153deg) brightness(94%) contrast(94%);
        }
    }

    .points-rewards-body {
        padding: 16px 30px 45px;
        .points-rewards-label {
            color: $primaryColor;
            font-weight: 700;
        }

        .point-rewards-textarea-box {
            padding: 0px 12px 24px;

            .point-rewards-textarea-label {
                padding: 0px;
            }

            .point-rewards-textarea {
                border: 1px solid #BDBDBD;
                border-radius: 5px;
            }
        }
    }
   
}

// styling for responsive
@media (min-width: 992px) and (max-width: 1199px) {
    .btn-back-lg {
        margin-left: 50px !important;
    }
}