@import '../../../../asset/css/variables';
.sidebar{
    box-shadow: 0px 0px 20px rgba(66, 90, 174, 0.15);
    height:100vh;
    &-nav-item{
        font-size: 20px;
        text-decoration: none;
        color: #666666;
        border-radius: 10px;
    }
    &-nav-heading{
        color: $primaryColor;
    }
    .nav-item-active {
        img {
            filter: invert(46%) sepia(13%) saturate(100%) hue-rotate(153deg) brightness(0%) contrast(91%) !important;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(8deg) brightness(300%) contrast(101%) !important;
        }
        background-color: $primaryColor;
        color: white !important;
    }
}

@media (max-width: 1199.98px) {

    .sidebar {
        &-nav-item {
            font-size: 15px;
        }
        &-nav-icon {
            width: 14px;
        }
    }
}