@import '../../../../asset/css/variables';


.data-table {
    font-family: $primaryFont;
    .date-container {
        position: relative;
        max-width: fit-content;
        align-self: center;

        .date-table {
            align-self: flex-end;
            border: solid 1px #BDBDBD;
            background-color: #F2F2F2;
            text-align: center;
            padding: 5px;
            
            &::-webkit-calendar-picker-indicator {
                position: absolute;
                left: -20%;
                width: 100%; 
                background: none;
                -webkit-appearance: none;
            }

            &:focus-visible {
                outline: none;
            } 
        }

        .text-to {
            padding: 9px;
            background-color: $primaryColor;
            color: #FFFFFF;
            font-size: 16px;
        }
        
        .date-table-left{
            border-radius: 25px 0px 0px 25px;
        }
        .date-table-right{
            border-radius: 0px 25px 25px 0px;
        }
    }
    

    .icon-mission {
        display: inline-flex;

        .text-app{
            margin-left: 15px;
            font-size: 24px;
        }
    }

    .table-checkin {

        .as-react-table {
            
            .table-head {
                align-items: center;
                margin-left: 16px;

                .col-md-6 {
                    flex: 0 0 35%
                }

                .col-md-6:nth-child(2) {
                    flex: 0 0 65%;
                }

                .input-group {
    
                    .input-group-addon {          
                        .input-group-text {
                            font-size: 18px;
                            color: #000000;                            
                        }
                    }

                    .form-control {
                        margin: 0 0;
                        padding: 0 22px;
                        font-size: 16px;
                        border-radius: 25px !important;
                        background-color: #F2F2F2;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

                .float-right {
                    
                    .table_filter {
                        width: 300px !important;
                        .form-control {
                            font-size: 16px;
                            border-radius: 25px !important;
                            background-color: #F2F2F2;
                            width: 150% !important;
                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }

                    .table_tools {
                        float: right;
                        .buttons-csv {
                            border: none;
                            border-radius: 10px;
                            color: $primaryColor !important;
                            background-color: rgba(40, 124, 161, 0.1) !important;
                            width: 120px;
                            height: 45px;
                            
                            span::before {
                                content: 'Export';
                                color: black;
                                font-family: $primaryFont;
                                vertical-align: text-bottom;
                                margin-right: 24px;
                            }
                            .fa {
                                font-size: 20px;
                                &::before {
                                    content: '\f019';
                                }
                            }
                        }
                    }
                }
            }

            .table-body {

                .table-striped {
                    --bs-table-striped-bg: none;
                    border-style: none;
                    .sortable {
                        color: $primaryColor;

                    }
                    thead {
                        border-bottom: solid 1px #BDBDBD;
                        color: $primaryColor;
                    }
                    tbody, td {
                        color: #4F4F4F;
                    }
                    tbody, td, tfoot, th, tr {
                        border-style: none;
                    }
                }
            }

            .table-foot {
                margin-top: 16px;
            }
        }
    }
}

@media (max-width: 1199.98px) {

    .data-table {

        .table-checkin {

            .as-react-table {

                .table-head {
                    .col-md-6 {
                        flex: 0 0 40%
                    }
    
                    .col-md-6:nth-child(2) {
                        flex: 0 0 50%;
                    }
    
                    .float-right {
                        .table_tools {
                            .buttons-csv {
                                margin-right: -65px !important;
                            }
                        }
                        .table_filter {

                            .form-control {
                                width: 90% !important;
                                
                            }
                        }
                    }
                }
                .table-body {
                    font-size: 12px !important;
                    
                }
            }
        }
    }
}