@import '../../../../asset/css/variables';

.login-nav-border-bottom{
    box-shadow: 0px 0px 20px rgba(28, 28, 30, 0.07);
    -webkit-box-shadow: 0px 0px 20px rgba(28, 28, 30, 0.07);
    -moz-box-shadow: 0px 0px 20px rgba(28, 28, 30, 0.07);
    font-size: 24px;

    .nav-link{
        color:black !important;
    }
    .nav-btn {
        border: 2px solid $primaryColor ;
        border-radius: 10px;
        color: $primaryColor !important;
        font-weight: 500;
        text-decoration: none;
        color: $primaryColor  !important;
        background-color: white!important;
        // // &:hover {
        // //   color: white !important;
        // //   // background-color: $secondaryColor !important;
        // }
    }
    
}    