@import '../../../../asset/css/variables';

.home-user-app-recent-transaction {
    .home-user-app-recent-transaction-heading {
        .home-user-app-recent-transaction-title {
            font-size: 22px;
            font-weight: 700;
            padding-right: 0px;
        }

        .home-user-app-recent-transaction-viewall {
            text-align: right;
            padding-left: 0px;
            padding-right: 0px;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            color: #999999;
        }
    }

    .user-recent-transaction-table {
        border-radius: 20px;
        box-shadow: 0px 0px 15px rgba(64, 109, 162, 0.2);

        .user-recent-transaction-table-heading {
            // background-color: $primaryColor;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 700;

            .user-transaction-left-heading {
                background-color: $primaryColor;
                border-top-left-radius: 20px;
            }

            .user-transaction-mid-left-heading {
                background-color: $primaryColor;
            }

            .user-transaction-mid-heading {
                background-color: $primaryColor;
            }
            
            .user-transaction-mid-right-heading {
                background-color: $primaryColor;
            }

            .user-transaction-right-heading {
                background-color: $primaryColor;
                border-top-right-radius: 20px;
            }

        }

        .user-recent-transaction-table-items {
            color: #4F4F4F;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

@media (max-width: 1199.98px) {
    .home-user-app-recent-transaction {
        .home-user-app-recent-transaction-heading {
            .home-user-app-recent-transaction-title {
                // font-size: 18px !important;
                // font-weight: 700;
                // padding-right: 0px;
            }
            .home-user-app-recent-transaction-viewall {
                font-size: 14px;
            }
        }
        .user-recent-transaction-table {
            .user-recent-transaction-table-heading {
                font-size: 16px;
            }
            .user-recent-transaction-row {
                font-size: 14px;
            }
        }
    }
}