
.button-add- {
    .add- {
        color: white;
        background-color: #287CA1;
        border: none;
        border-radius: 5px;
        .icon-plus{
            margin-left: 15px;
        }
    }
}

.user-role {
    .week-role {
        border: 1px solid #287CA1;
        border-radius: 5px;
        color: #287CA1;
        padding: 5px 15px;
    }
}

.user-role {
    .dropdown-user-role {
        
        .btn-user-role {
            color: #287CA1;
            border: 1px solid #287CA1;
        }
    }
}

.action {
    .action-button {
        
        .btn-action-search {
            margin-left: 5px;
            border-radius: 30px;
            padding: 1px 5.5px;
            background-color: #287CA1;
            border: none;
            .search {
                .icon-search{
                    vertical-align: baseline;
                }
            }
        }
        .btn-action-edit {
            margin-right: 10px;
            margin-left: 10px;
            border-radius: 30px;
            padding: 1px 5.5px;
            background-color: #F2994A;
            border: none;
            .edit {
                .icon-edit {
                    vertical-align: baseline;
                }
            }
        }

        .btn-action-delete {
            border-radius: 30px;
            padding: 1px 5.5px;
            background-color: #EB5757;
            border: none;
            .delete {
                .icon-delete {
                    vertical-align: baseline;
                }
            }
        }
    }
}