@import '../../../../asset/css/variables';

.table-ranking {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    // box-shadow: 0px 0px 15px rgba(64, 109, 162, 0.2);

    .table-ranking-heading {
        // background-color: $primaryColor;
        color: #FFFFFF;
        font-weight: 900;

        .table-ranking-left-heading {
            background-color: $primaryColor;
            border-top-left-radius: 20px;
            padding-top: 36px;
            padding-bottom: 36px;
        }

        .table-ranking-mid-heading {
            background-color: $primaryColor;
            padding-top: 36px;
            padding-bottom: 36px;
        }

        .table-ranking-right-heading {
            background-color: $primaryColor;
            border-top-right-radius: 20px;
            padding-top: 36px;
            padding-bottom: 36px;
        }

    }

    .table-ranking-body {
        color: #000000;
        font-weight: 600;

        .table-ranking-items-rank {
            padding-left: 40px;
            vertical-align: middle;
        }

        .table-ranking-items {   
            vertical-align: middle;

            img {
                margin-right: 10px;
            }
        }
    }
}
