@import '../../../../asset/css/variables';


.data-table {
    font-family: $primaryFont;

    .date-container {
        position: relative;
        max-width: fit-content;
        align-self: center;

        .date-table {
            align-self: flex-end;
            border: solid 1px #BDBDBD;
            background-color: #F2F2F2;
            text-align: center;
            padding: 5px;
            
            &::-webkit-calendar-picker-indicator {
                position: absolute;
                left: -20%;
                width: 100%;
                background: none;
                -webkit-appearance: none;
            }

            &:focus-visible {
                outline: none;
            }
        }

        .text-to {
            padding: 9px;
            background-color: $primaryColor;
            color: #FFFFFF;
            font-size: 16px;
        }
        
        .date-table-left{
            border-radius: 25px 0px 0px 25px;
        }
        .date-table-right{
            border-radius: 0px 25px 25px 0px;
        }
    }
    

    .icon-mission {
        display: inline-flex;

        .text-app{
            margin-left: 15px;
            font-size: 24px;
        }
    }

    .table-checkin {

        .as-react-table {
            
            .table-head {

                .input-group {
    
                    .input-group-addon {
                        .input-group-text {
                            font-size: 18px;
                            color: #000000;                            ;
                        }
                    }

                    .form-control {
                        margin: 0 0;
                        padding: 0 22px;
                        font-size: 16px;
                        border-radius: 25px !important;
                        background-color: #F2F2F2;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

            .table-body {

                .table-striped {
                    --bs-table-striped-bg: none;
                    border-style: none;
                    .text- {
                        color: $primaryColor;

                    }
                    thead {
                        border-bottom: solid 1px #BDBDBD;  
                    }
                    tbody, td {
                        color: #4F4F4F;
                    }
                    tbody, td, tfoot, th, tr {
                        border-style: none;
                    }
                }

                .status-active {
                    background-color: rgba(111, 207, 151, 0.2);
                    border-radius: 20px;
                    margin-right: 50px;
                    padding: 4px 10px;

                    .text-active {
                        font-size: 14px;
                        font-weight: 700;
                        vertical-align: text-top;
                        color: #219653;
                        opacity: 1;
                    }
                }

                .status-inactive {
                    background-color: rgba(225, 94, 84, 0.2);
                    border-radius: 20px;
                    margin-right: 50px;
                    padding: 4px 10px;

                    .text-inactive {
                        font-size: 14px;
                        font-weight: 700;
                        vertical-align: text-top;
                        color: #E15E54;
                        opacity: 1;
                    }
                }
            }

            .table-foot {
                margin-top: 16px;
            }
        }
    }
}
}