.calendar-detail{
    span{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display:inline-block;
        margin-right: 1rem;
    }
    .red{
        background-color: #E15E54;
        
    }
    .green{
        background-color: #3EB7A1;
    }
}