@import "../../../../asset/css/variables";

.titleandsearchbar {
  border-bottom: 1px solid rgba(167, 179, 222, 0.35);
    h3{
        font-size: 24px;
        margin: 0;
        cursor: pointer;
    }
    .searchContainer {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #bdbdbd;
        border-radius: 30px;
        overflow: hidden;
        outline: none;
        width: 520px;
        height: 50px;
      }
      
      .searchIcon {
        color: #bdbdbd;
        padding: 10px;
      }
      
      .searchBox {
        border: none;
        flex: 1;
        &:focus-visible{
            outline: none;
        }
      }
      .searchBox::placeholder{
        color: #bdbdbd;
    }
}